.same {
  color: black;
  text-shadow: 5px 5px 5px purple;
  text-align: center !important;
}

.all {
  box-shadow: -10px -10px 3px 1px rgb(136, 135, 135);
}

.cart {
  box-shadow: -10px -10px 3px 1px rgb(249, 171, 228);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.need {
  color: black;
  text-align: center !important;
  text-shadow: 5px 5px 5px rgb(101, 100, 101);
}

.active {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (max-width: 500px) {
  * {
    box-sizing: border-box;
  }
  body {
    margin-left: 0px;
    margin-right: 0px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e2e2;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.layout {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 0px;
}
.layout__lay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(178, 11, 170), rgb(131, 130, 130));
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-name: lay;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-iteration-count: 1;
  margin-bottom: 0px;
}
.layout__lay a {
  color: inherit;
  text-decoration: none;
}
.layout__lay a h2 {
  text-shadow: 3px 3px 3px purple;
  font-size: 20rem;
  -webkit-text-fill-color: inherit;
}

@keyframes lay {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }
  h2 {
    font-size: 6rem !important;
  }
}